# Conditional Execution and Loops

## Conditional execution (`if`, `elif`, `else` statement)

In [ ]:
val1 = 10

if val1 > 15:
    print("above 15")
else:
    print("not above 15")

not above 15

In [ ]:
val2 = 5
if val2 > 6:
    print("above siz")
elif val2 < 2:
    print("below two")
else:
    print("neither")

neither

## Loops

Two kind of loops in python:
- `while` loop
- `for` loop

### `while` loop

In `while` loop, the commands inside the body of the loop are executed repeatedly as long as the condition of the loop holds true.

In [ ]:
i = 1
while i <= 10:
    print(i*i)
    i += 1

1
4
9
16
25
36
49
64
81
100

### `continue` statements

`continue` can be used to skip parts of the body of the loop based on certain condition and move on to the next iteration of the loop.

In [ ]:
i = 0
while i <= 10:
    i += 1
    if i==5:
        continue
    print(i*i)

1
4
9
16
36
49
64
81
100
121

### `break` statement

It can be used to exit out of a loop based on some condition

In [ ]:
i = 1
while i <= 10:
    if i==5:
        break
    print(i*i)
    i += 1

1
4
9
16

### `for` loop

It is used to execute a block of code repeatedly for each item/element in a data structure (list, tuple, set, dictionary etc.)

In [ ]:
# example using a list:
lst1 = [1, 2, 3.5, 4]    # lists are defined using square brackets, can combine data types
for abc in lst1:
    print(abc**2)

1
4
12.25
16

In [ ]:
# example using a dictionary (dict)
dct1 = {
    "a" : 1,
    "b" : 2,
    "c" : 3.5,
    "d" : 4
}

In [ ]:
for key in dct1:
    print("the square of element", key, "is", dct1[key]**2)

the square of element a is 1
the square of element b is 4
the square of element c is 12.25
the square of element d is 16

### List comprehension

A way of creating new lists based on old lists by usually by applying some form of function or by performing some computation/calculation on each element of a list

In [ ]:
lst2 = [x**2 for x in lst1]
lst2

[1, 4, 12.25, 16]