### 1. Check whether a number is divisible by 10.

In [1]:
num = 59    # example

if num%10 == 0:
    print("Divisible 10")
else:
    print("Not divisible by 10")

Not divisible by 10

### 2. Given a score, print its letter grade (80 and above is A, 60 and above is B, else F)

In [2]:
score = 75

if score >= 80:
    print("A grade")
elif (score >= 60) and (score < 80):
    print("B grade")
else:
    print("F grade")

B grade

### 3. Find the $n^{th}$ term of the following series using a `while` loop:

2 + 5 + 8 + 11 + 14 + ...

In [3]:
n = 10    # 10 only for example
diff = 5 - 2

i = 1
term_i = 2
while i < n:
    term_i += diff
    i += 1

print(term_i)

29

### 4. Use a `while` loop to find the sum of some numbers in a list

In [4]:
ls1 = [5, 2, 4, 6, 9]
i = 0
sum = 0
while i < len(ls1):
    sum += ls1[i]
    i += 1

print(sum)

26

### 5. Use a `for` loop to print the square of some numbers

In [5]:
ls2 = [2, 3.5, 9, 6]
for num in ls2:
    print(num**2)

4
12.25
81
36

# The `range()` function

The `range()` function is used to generate a sequence of numbers.  
It is **commonly used with loops** (especially `for` loops) to repeat actions a specific number of times or to iterate over numeric sequences.

#### Syntax:

```python
range(b)    # includes values starting from 0 to (b-1)
range(a, b)    # includes values starting from a to (b-1)
range(a, b, step)    # similar to above but increments by step
```

### 6. Use a `for` loop to replace the values of a list with their squares (do not create a new list)

In [6]:
ls3 = [2, 2.5, 3, 4, 5.5]
for i in range(len(ls3)):
    ls3[i] = ls3[i]**2

ls3

[4, 6.25, 9, 16, 30.25]

### 7. Given two lists - one representing the number of cylinders in car engines and another representing the milage of the corresponding engine, find the cars that have 4 cylinders and more than 20 milage.

In [7]:
cyls = [2] * 3 + [4] * 3 + [6] * 3
cyls    # list of number of cylinders

[2, 2, 2, 4, 4, 4, 6, 6, 6]

In [8]:
milage = [17, 18, 19, 18, 21, 22, 16, 20, 21]

In [9]:
for i in range(len(cyls)):
    if (cyls[i]==4) and (milage[i]>20):
        print("car", i+1, "has 4 cylinders and milage above 20")

car 5 has 4 cylinders and milage above 20
car 6 has 4 cylinders and milage above 20